@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}
@{
    ViewBag.Title = "Ver agendados";
}

<div>
    <div style="width:100%; margin-top: 50px; background-color: #293C4A;">
        <div class="lineseparator">HISTÓRICO DE SERVIÇOS </div>
        <a href='@Url.Action("Index", "MyProfile")'>
            <img src="https://i.imgur.com/fVAgrFb.png" style="position:absolute; margin-left:77%; margin-top:-57px; width:150px; height:auto;" />
        </a>

        <div style="width:99%; padding-left:15.5%;background-color: #293C4A;">


            @{ if (@Model.Count == 0)
                {
                    <div class="lineseparator" style="background-color:#293C4A; font-size:25px; margin-left:-8.5%;">Sem serviços agendados</div>
                }
                else
                {
                    <div class="firstrow">
                        <div class="col-lg-10" style="background-color:#293C4A; margin-bottom:20px; padding-bottom:20px;">
                            <div style="width:100%; display:table; background-color:#E69335;">
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:25px; height:50px; width:300px; background-color:#e69335; float:left;"> SERVIÇO</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:25px; height:50px; width:150px; background-color:#e69335; float:left;"> DIA</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:25px; height:50px; width:100px; background-color:#e69335; float:left;"> HORA</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:25px; height:50px; width:100px; background-color:#e69335; float:left;"> PREÇO</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:25px; height:50px; width:400px; background-color:#e69335; float:left;"> FUNCIONÁRIO</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:25px; height:50px; width:50px; background-color:#e69335; float:left;"> ID</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:25px; height:50px; width:140px; background-color:#e69335; float:left;">  </div>
                            </div>
                            @{ for (int i = 0; i < Model.Count; i++)
                                {
                                    var hora = Model[i].hora_inicio.ToString();

                                    if (i % 2 == 0)
                                    {
                            <div style="width:100%; background-color:#293C4A; display:table;">
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:20px; height:50px; width:300px; float:left; background-color:#293C4A;"> @Model[i].nome_servico</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:20px; height:50px; width:150px; float:left; background-color:#293C4A;"> @Model[i].dia.ToShortDateString()</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:20px; height:50px; width:100px; float:left; background-color:#293C4A;"> @hora.Remove(hora.Length - 3, 3)</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:20px; height:50px; width:100px; float:left; background-color:#293C4A;"> @Model[i].preco_total</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:20px; height:50px; width:400px; float:left; background-color:#293C4A;"> @Model[i].nome_funcionario</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:20px; height:50px; width:50px; float:left; background-color:#293C4A;"> @Model[i].id_fatura</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:20px; height:50px; width:140px; float:left; background-color:#293C4A;"> <a href='@Url.Action("Detalhes", "MyProfile", new { id = Model[i].id_fatura})'><span style="color:#FFFFFF">Detalhes</span></a></div>
                            </div>
                                    }
                                    else
                                    {
                            <div style="width:100%; background-color:#192C3A; display:table;">
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:20px; height:50px; width:300px; float:left; background-color:#192C3A;"> @Model[i].nome_servico</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:20px; height:50px; width:150px; float:left; background-color:#192C3A;"> @Model[i].dia.ToShortDateString()</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:20px; height:50px; width:100px; float:left; background-color:#192C3A;"> @hora.Remove(hora.Length - 3, 3)</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:20px; height:50px; width:100px; float:left; background-color:#192C3A;"> @Model[i].preco_total</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:20px; height:50px; width:400px; float:left; background-color:#192C3A;"> @Model[i].nome_funcionario</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:20px; height:50px; width:50px;  float:left; background-color:#192C3A;"> @Model[i].id_fatura</div>
                                <div class="preco" style="font-family:'San Francisco Bold'; font-size:20px; height:50px; width:140px; float:left; background-color:#192C3A;"> <a href='@Url.Action("Detalhes", "MyProfile", new { id = Model[i].id_fatura})'><span style="color:#FFFFFF">Detalhes</span></a></div>
                            </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
